<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
  <div class="container">
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
